################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MathLibrary.Test/bin/Debug/net5.0
